# CAP cap_service
_out
*.db
*.sqlite
*.sqlite*
\[object Object\]
cap_management
cap_management-*
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# Trae IDE
.trae/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log
.env
.env.*
/.vercel/
/vercel.json

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models
